<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="card mt-4">
    <div class="card-header">
        <h1>Edit category</h1>
    </div>
    <div class="card-body">
        <form action="/admin/categories/edit" method="post">
            <label for="category">Category name:</label>
            <input type="hidden" name="id" value="<%= category.id %>">
            <input type="text" name="category" id="name" placeholder="Category name" class="form-control" value="<%= category.category %>"> <br>
            <input type="hidden" name="author" value="<%= category.author %>">
            <button type="submit" id="submit" class="btn btn-outline-warning">Edit category</button>
        </form>
        <a href="/admin/categories/all"><button class="btn btn-outline-secondary mt-2">Back</button></a>
    </div>
</div>

<%- include("../../partials/footer.ejs") %>