<% if (successMsg && successMsg.length > 0) { %>
    <% if (typeof(successMsg) === "string") { %>
        <div class="alert alert-success mt-2 mb-2">
            <span>
                <%= successMsg %>
            </span>
        </div>
    <% } else if (Array.isArray(successMsg)) { %>
        <% successMsg.forEach(msg => { %>
            <div class="alert alert-success mt-2 mb-2">
                <span>
                    <%= msg %>
                </span>
            </div>
        <% }); %>
    <% } %>
<% } %>

<% if (warningMsg && warningMsg.length > 0) { %>
    <% if (typeof(warningMsg) === "string") { %>
        <div class="alert alert-warning mt-2 mb-2">
            <span>
                <%= warningMsg %>
            </span>
        </div>
    <% } else if (Array.isArray(warningMsg)) { %>
        <% warningMsg.forEach(msg => { %>
            <div class="alert alert-warning mt-2 mb-2">
                <span>
                    <%= msg %>
                </span>
            </div>
        <% }); %>
    <% } %>
<% } %>

<% if (errorMsg && errorMsg.length > 0) { %>
    <% if (typeof(errorMsg) === "string") { %>
        <div class="alert alert-danger mt-2 mb-2">
            <span>
                <%= errorMsg %>
            </span>
        </div>
    <% } else if (Array.isArray(errorMsg)) { %>
        <% errorMsg.forEach(msg => { %>
            <div class="alert alert-danger mt-2 mb-2">
                <span>
                    <%= msg %>
                </span>
            </div>
        <% }); %>
    <% } %>
<% } %>